        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'predictionWeb' %}">
                                Prediction
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'jobHistory' %}">
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'modConfig' %}">
                               Model
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="mailto:runningdreamer@126.com">Designed by Chi Wang</a>If you have any suggestion,please<a href="mailto:runningdreamer@126.com">Connect me</a>
                </p>
            </div>
        </footer>
